# Get here: https://github.com/settings/tokens
GITHUB_ACCESS_TOKEN='ghp_1234567890abcdefghij'

GITHUB_REPO_OWNER='apache'

GITHUB_REPO_NAME='superset'

PATH_TO_DIRECTORY_IN_REPO='docker'

# If commented, default branch in repo will be used
# COMMIT_SHA_HASH_OR_BRANCH_NAME_OR_TAG_NAME='main'

PATH_TO_LOCAL_DIR_CONTENTS_OF_REPO_DIR_WILL_BE_PUT_INTO='/tmp/tmp.pPuwKB2gSZ/docker'
